@use 'variables' as v; 

html {
    font-size: 16px;
}
  
body {
    font-family: v.$fontPrimary;
    font-size: 1rem;
    background-color: darken(v.$greyLight, 3%);
    margin: 0;
}
.wrapper {
    inline-size: 95%;
    max-inline-size: 75rem;
    margin: 0 auto;
}
img {
    max-inline-size: 100%;
    display: block;
}
ul {
    padding:0;
    list-style: none;
    margin: 0;
}